@import "tailwindcss";
@font-face {
  font-family: "PixelDigivolve";
  src: url("./PixelDigivolve.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.text {
  font-family: "PixelDigivolve", sans-serif;
}
